body {
  height: 100%;
  background: #D6E15F;
  overflow: hidden;
}

img {
	position: relative;
	top: 45%;
	margin: auto;
	display:block;
	height: 10%;
	width:30%;
}

.ocean { 
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(231,43,142,0.7), rgba(231,43,142,1));
}


/* Wave effect credited to Ted McDonald
   https://codepen.io/tedmcdo/pen/PqxKXg */
.wave {
  background: url("wave.svg") repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

canvas {
   position : absolute;
   top : 0px;
   left : 0px;
}
