/* General HTML Style */
html{
    background: #0f1f44;
}

/* Wrapper Style */
.wrapper {
    width: 960px;
    height: 600px;
    margin: 0 auto;
}

/* Buttons Sytle */
.buttons img{
    width: 130px;
    height: auto;
    margin: auto;
    cursor: pointer;
}

.row1{
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

.row2{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

/* Test Content Style */
.content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: auto;
    margin-bottom: auto; 
}

.image-container img{
    display: none;
    width: 250px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

#default-image{
    display: block;
    width: 330px;
    height: auto;
}

#rat-image{
    height:300px;
    width: auto;
}

.content-container{
    display: block;
    margin-left: auto;
	margin-right: auto;
}

.test-content{
    padding-right: 50px;
    height: 100px;
}

#title{
    color: #ffd71d;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 45px;
    margin-bottom: 25px;
}

#date-container p {
    font-family: 'Quicksand', sans-serif;
    color: #ffd71d;
    font-size: 30px;
    margin: 0;
    display: none;
}

.test-content p{
    display: none;
    font-family: 'Quicksand', sans-serif;
    color: #ffd71d;
    font-size: 20px;
}

#default-text{
    display: block;
}

.input-container{
    padding-top: 30px;
    display: block;
    padding-bottom: 60px;
}

#name, #bday{
    width: 130px;
    font-family: 'Quicksand', sans-serif;
}

#enter{
    padding: 3px 20px 5px;
    font-size: 15px;
    background-color: rgb(255, 0, 0);
    font-weight: bold;
    color: #ffffff;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border: 1px solid rgb(252, 172, 0);
    cursor: pointer;
    float: left;
}

#enter:hover{
    background-color: rgb(255, 71, 71);
}

#help-button{
    width: 30px;
    height: auto;
    padding-left: 10px;
    cursor: pointer;
}

/* Help Image Style */
.help{
    top:20%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

#help-image{
    display: none;
    width: 1000px;
    height: auto;
    border: white solid 3px;
}

.help a{
    display: none;
    color: white;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;   
    position: absolute;
    top: 0;
    right: 10px;
}